body{
    font-family: Courier New;
    font-size: 15px;
    font-weight: bold;
    background-color: white;

}

.wrapper{
    display: flex;
}

.left{
     flex: 1;
     left:0;
     width: 20%;
     height:100vh;
     position:fixed;
     top:0;
     background-color: white;
}

.center {
     margin-left:310px;
     margin-right: 180px;
     flex: 3;
     text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;

}

.vl {
  border-left: 6px solid black;
  height: 100vh;
  position: fixed;
  left: 20%;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a{
    text-decoration: none;
    color: inherit;
}

span{
    position: absolute;
    z-index: -1;
    text-underline-offset: 3px;
}
